@layer components {
  .root-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .container-fluid {
    @apply mx-auto sm:max-w-[480px];
  }

  .content-fluid {
    @apply w-full sm:w-[480px]
  }

  .scroll-view {
    @apply h-[calc(100vh-60px)] overflow-y-scroll px-4
  }

  .horizontal-scroll {
    @apply flex items-center overflow-x-auto gap-2.5 pb-2
  }

  .flex-center-center {
    @apply flex items-center justify-center;
  }

  .flex-center-between {
    @apply flex items-center justify-between;
  }

  .flex-center-end {
    @apply flex items-center justify-end;
  }
}