@layer components {
  .text-label-sm {
    @apply font-medium text-[12px] leading-[16px] tracking-[0.5px];
  }

  .text-label-md {
    @apply font-medium text-[14px] leading-[16px] tracking-[0.5px];
  }

  .text-label-lg {
    @apply font-medium text-[14px] leading-[20px] tracking-[0.1px];
  }

  .text-body-sm {
    @apply font-normal text-[12px] leading-[16px] tracking-[0.4px];
  }

  .text-body-md {
    @apply font-normal text-[14px] leading-[20px] tracking-[0.25px];
  }

  .text-body-lg {
    @apply font-normal text-[16px] leading-[24px] tracking-[0.5px];
  }

  .text-title-sm {
    @apply font-medium text-[14px] leading-[20px] tracking-[0.1px];
  }

  .text-title-md {
    @apply font-medium text-[16px] leading-[24px] tracking-[0.15px];
  }

  .text-title-lg {
    @apply font-normal text-[22px] leading-[28px] tracking-[0px];
  }

  .text-headline-sm {
    @apply font-medium text-[24px] leading-[32px] tracking-[0px];
  }

  .text-headline-md {
    @apply font-normal text-[28px] leading-[36px] tracking-[0px];
  }

  .text-headline-lg {
    @apply font-normal text-[32px] leading-[40px] tracking-[0px];
  }

  .text-display-sm {
    @apply font-normal text-[36px] leading-[44px] tracking-[0px];
  }

  .text-display-md {
    @apply font-normal text-[45px] leading-[52px] tracking-[0px];
  }

  .text-display-lg {
    @apply font-normal text-[57px] leading-[64px] -tracking-[0.25px];
  }
}